.bg{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.56);
    flex-direction: row;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form{
    width: 850px;
    height: 459px;
    left: 461px;
    top: 113px;
    background: #248A7E;
    border-radius: 5px;
    margin: 5em;
    margin-right: 15em;
    padding: 2.9em;
    display: flex;
    flex-direction: column;
    border: none;
    flex-wrap: nowrap;
    align-items: center;



    .inputname{
        margin-top: 2.5em;
    }

    h1{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        letter-spacing: 0.105em;

        color: #FFFFFF;
    }

    .inputsacordo{
        margin-top: 2.5em;
        margin-bottom: 4em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 100%;
        h1{
            margin-right: .4em;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 11px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.005em;

            color: #FFFFFF;
        }

        .radius1{
            border-bottom-left-radius:5px ;
            border-top-left-radius:5px ;
        }
        .radius2{
            border-bottom-right-radius:5px ;
            border-top-right-radius:5px ;
        }
        input{
            color: #fff;
            padding: 0.5em;
            width: 11.2em;
            margin: 0;
            border: none;
            background: #2AB4A3;
            border: 1px solid rgba(214, 214, 214, 0.36);
        }
        ::placeholder{
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 11px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.005em;
            
            color: #FFFFFF;
        }
    }
    
    input{
        color: #fff;
        width: 100%;
        background: #248A7E;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        margin: 0.5em;
    }

    ::placeholder{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;

        color: #FFFFFF;
    }

    button{
        width: 174px;
        height: 32px;
        left: 596px;
        top: 475px;
        background: #206D64;
        border-radius: 4px;
        border: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;

        color: #FFFFFF;

        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            animation-fill-mode: backwards;
            background: #248A7E;        }
    }

  


}

.btnspaginator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 8em;

    button{
        margin-top: 1em;
        width: 174px;
        height: 32px;
        left: 153px;
        top: 310px;
        
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        border: none;
        //background: #248A7E;
        border-radius: 4px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;

        color: #FFFFFF;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            animation-fill-mode: backwards;
            background: #0d3f39;        }
    }

    .bgactive{
        background: #206D64;
    }
    .bginative{
        background: #248A7E;
    }
}

@media screen and (max-width: 1400px){
    .form{
        margin: 2em;

    }
}