.bg{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.56);
    flex-direction: row;
    align-content: space-between;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form{
    width: 444px;
    height: 459px;
    background: #248A7E;
    border-radius: 5px;
    margin: 5em;
    margin-right: 15em;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    border: none;
    flex-wrap: nowrap;
    align-items: center;

    .textarea{
        width: 100%;
        height: 5em;
        font-size: 13px;
        padding: 1em;
        color: #000;
        background: #CBCBCB;
        border-radius: 5px;

    }

    .textarea::placeholder{
        font-size: 12px;
        color: #383838 !important;
    }
    
    .tab{

        h1{
            margin-top: 1em;
        }
    }

    select{
        border: none;
        height: 25px;
        background: #206D64;
        border-radius: 5px;
        margin-bottom: 0.8em;
        width: 100%;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 7px;
        align-items: center;
        letter-spacing: 0.005em;

        color: #2AB4A3;
    }


    .inputname{
        margin-top: 1em;
    }

    h1{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        letter-spacing: 0.105em;

        color: #FFFFFF;
    }
    
    input{
        width: 100%;
        background: #248A7E;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        margin: 0.5em;
    }

    ::placeholder{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 11px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;

        color: #FFFFFF;
    }

    button{
        margin-top: 2em;
        width: 174px;
        height: 32px;
        background: #206D64;
        border-radius: 4px;
        border: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;

        color: #FFFFFF;

        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    }


}

.btnspaginator{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 20em;

    button{
        margin-top: 1em;
        width: 174px;
        height: 32px;
        left: 153px;
        top: 310px;
        
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        border: none;
        //background: #248A7E;
        border-radius: 4px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;

        color: #FFFFFF;
    }

    .bgactive{
        background: #206D64;
    }
    .bginative{
        background: #248A7E;
    }
}