.form{
    display: flex;
    background: var(--green-pipay-200);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    h1{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        letter-spacing: 0.105em;

        color: #FFFFFF;
    }

    input{
        width: 80%;
        height: 40px;
        padding: 10px;
        background: #248A7E;
        border: none;
        color: #fff;
        border-bottom: 1px solid #FFFFFF;
        margin: 0.5em;
    }

    ::placeholder{
        font-family: 'Arial';
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 11px;
        display: flex;
        align-items: center;
        letter-spacing: 0.005em;

        color: #FFFFFF;
    }

    select{
        border: none;
        height: 25px;
        background: #206D64;
        border-radius: 5px;
        margin-bottom: 0.8em;
        width: 80%;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 7px;
        align-items: center;
        letter-spacing: 0.005em;

        color: #2AB4A3;
    }

    button{
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        border: none;
        color: #FFFFFF;
        width: 174px;
        height: 32px;
        left: 596px;
        top: 507px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
        background: #206D64;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
}